h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(253, 252, 252);
  display: flex;
  flex-direction: column;
}

nav {
  height: 64px;
  padding: 0 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05);
}
nav ul {
  display: flex;
  gap: 10px;
  flex: content;
}
nav ul li {
  cursor: pointer;
  height: fit-content;
  background-color: rgb(69, 18, 235);
  color: rgb(46, 41, 54);
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: ease-in-out 0.1s;
  font-variant-ligatures: no-common-ligatures;
}
nav ul li #btn-nav {
  display: flex;
  height: auto;
}
nav ul li #btn-nav span {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 15px;
}
nav ul li #btn-nav input {
  display: none;
}
nav ul li #btn-nav label {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 15px;
}
nav ul li #btn-nav [type=file] {
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 1;
}
nav ul li:hover {
  display: block;
  background: rgba(255, 255, 255, 0.15);
}

#main-content {
  width: calc(100vw - 40px);
  height: 100vh;
  padding: 20px 21px;
  overflow: hidden;
  display: grid;
  row-gap: 10px;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
}
#main-content #row-top {
  grid-auto-flow: column;
}
#main-content #row-bot {
  grid-auto-flow: column;
}
#main-content .wrapper {
  display: grid;
  column-gap: 10px;
  grid-column: 1;
}
#main-content .wrapper .col {
  display: grid;
  overflow: hidden;
  grid-template-rows: 36px 1fr;
}
#main-content .wrapper .col .col-property-content {
  grid-row: 1;
}
#main-content .wrapper .col .col-property-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  background-color: rgb(253, 252, 252);
}
#main-content .wrapper .col .col-property-content ul li {
  min-width: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  border-radius: 18px;
  padding: 5px 15px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#main-content .wrapper .col .col-property-content ul li:hover {
  background-color: rgba(0, 0, 0, 0);
}
#main-content .wrapper .col .col-property-content ul li input {
  width: 30px;
  font-feature-settings: "tnum";
}
#main-content .wrapper .col .col-property-content ul li [type=text] {
  background: none;
  border: none;
  counter-reset: none;
}
#main-content .wrapper .col .col-property-content ul li [type=text]:focus {
  border: none;
  border-width: 0;
  box-shadow: none;
  outline: none;
}
#main-content .wrapper .col .col-scrl-1,
#main-content .wrapper .col .col-scrl-2,
#main-content .wrapper .col .col-scrl-3,
#main-content .wrapper .col .col-scrl-4,
#main-content .wrapper .col .col-scrl-5,
#main-content .wrapper .col .col-scrl-6 {
  overflow: scroll;
}
#main-content .wrapper .col .col-p-wrapp {
  grid-column: 1;
}
#main-content .wrapper .col .col-p-wrapp p {
  grid-column: 0.8;
  word-break: break-all;
  padding: 0 0.2em;
  padding-top: 0.2em;
  color: rgb(46, 41, 54);
}
#main-content .wrapper .col .col-p-wrapp [contenteditable] {
  outline: 0px solid transparent;
}

#features-settings {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#features-settings #close-space {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100;
}
#features-settings #features-settings-content {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: rgb(253, 252, 252);
  z-index: 900;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05);
}
#features-settings #features-settings-content .popup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-columns: 100px;
}
#features-settings #features-settings-content .popup #waring-info-content {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#features-settings #features-settings-content .popup #waring-info-content #warring-wrapp-el {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#features-settings #features-settings-content .popup #waring-info-content #warring-wrapp-el p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-weight: 400;
  color: rgb(118, 114, 125);
  grid-column: 2;
}
#features-settings #features-settings-content .popup #waring-info-content #resetStorage {
  display: block;
  grid-column: 3;
  margin-bottom: unset;
}
#features-settings #features-settings-content .popup .grid-col-prop {
  border: 1px solid rgb(171, 168, 178);
  border-radius: 12px;
  padding: 10px;
}
#features-settings #features-settings-content .popup .grid-col-prop .grid-col-prop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#features-settings #features-settings-content .popup .grid-col-prop .grid-col-prop-head .btn-close {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  counter-reset: none;
  transition: ease-in-out 0.15s;
  background: url(../assets/pict/visibility_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
  background-size: 24px;
  padding: 20px;
  background-position: center;
}
#features-settings #features-settings-content .popup .grid-col-prop .grid-col-prop-head .btn-close:hover {
  background: url(../assets/pict/visibility_off_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
  background-size: 24px;
  padding: 20px;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
}
#features-settings #features-settings-content .popup .grid-col-prop .grid-col-prop-head .inp-font-hidden {
  display: none;
}
#features-settings #features-settings-content .popup .grid-col-prop .grid-col-prop-head .custom-input-font {
  display: inline-block;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 12px;
  background-color: rgb(253, 252, 252);
  color: rgb(46, 41, 54);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  cursor: pointer;
}
#features-settings #features-settings-content .popup .grid-col-prop .grid-col-prop-head .custom-input-font:hover {
  background-color: rgb(253, 252, 252);
}
#features-settings #features-settings-content .popup .grid-col-prop .grid-col-prop-head .custom-input-font:active {
  background-color: rgba(0, 0, 0, 0.15);
}
#features-settings #features-settings-content .popup .grid-col-prop ul {
  width: auto;
  height: auto;
}
#features-settings #features-settings-content .popup .grid-col-prop ul li {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 10px;
  padding: 4px 0px;
}
#features-settings #features-settings-content .popup .grid-col-prop ul li label {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 4px 0px 4px 10px;
}
#features-settings #features-settings-content .popup .grid-col-prop ul li input {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(118, 114, 125);
  text-decoration: none;
  background: none;
  counter-reset: none;
  padding: 0px 12px;
}
#features-settings #features-settings-content .popup .grid-col-prop ul li input::placeholder {
  color: rgb(118, 114, 125);
}
#features-settings #features-settings-content .popup .grid-col-prop ul li [type=text] {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  counter-reset: none;
}
#features-settings #features-settings-content .popup .grid-col-prop ul li [type=text]:focus {
  border: 1px solid rgb(253, 252, 252);
  border-width: none;
  box-shadow: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
}
#features-settings #features-settings-content .popup .grid-col-prop ul .OT-features {
  width: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
#features-settings #features-settings-content .popup .grid-col-prop ul .OT-features input {
  padding: 10px 12px;
}
#features-settings #features-settings-content .popup .grid-col-prop-off {
  border: 1px dashed rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 10px;
}
#features-settings #features-settings-content .popup .grid-col-prop-off .grid-col-prop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#features-settings #features-settings-content .popup .grid-col-prop-off .grid-col-prop-head .btn-close {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  counter-reset: none;
  transition: ease-in-out 0.15s;
  background: url(../assets/pict/visibility_off_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
  background-size: 24px;
  padding: 20px;
  background-position: center;
}
#features-settings #features-settings-content .popup .grid-col-prop-off .grid-col-prop-head .btn-close:hover {
  background: url(../assets/pict/visibility_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
  background-size: 24px;
  padding: 20px;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
}
#features-settings #features-settings-content .popup .grid-col-prop-off .grid-col-prop-head .inp-font-hidden {
  display: none;
}
#features-settings #features-settings-content .popup .grid-col-prop-off .grid-col-prop-head .custom-input-font {
  display: inline-block;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 12px;
  pointer-events: none;
  user-select: none;
  color: rgb(118, 114, 125);
  border: 1px dashed rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul li {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 10px;
  padding: 4px 0px 4px 10px;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul li label {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 4px 0px;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul li input {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(118, 114, 125);
  text-decoration: none;
  background: none;
  counter-reset: none;
  padding: 0px;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul li input::placeholder {
  color: rgb(118, 114, 125);
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul li [type=text] {
  background: none;
  border: 1px solid rgb(253, 252, 252);
  border-radius: 6px;
  counter-reset: none;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul li [type=text]:focus {
  border: 1px solid rgb(253, 252, 252);
  border-width: none;
  box-shadow: none;
  outline: none;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul .OT-features {
  width: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
#features-settings #features-settings-content .popup .grid-col-prop-off ul .OT-features input {
  padding: 10px 2px;
}

#hello-octopus {
  width: 100vw;
  height: 100vh;
  position: fixed;
  animation-name: bg;
  animation-duration: 3s;
  transition-timing-function: ease-in-out;
  background-color: rgba(253, 252, 252, 0.6);
}
@keyframes bg {
  from {
    background-color: rgb(253, 252, 252);
  }
  50% {
    background-color: rgb(253, 252, 252);
  }
  to {
    background-color: rgba(253, 252, 252, 0.6);
  }
}
#hello-octopus #wrapp_popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 15vh;
  left: 30vw;
  animation-name: pos;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}
@keyframes pos {
  from {
    top: 17.5vh;
    left: 32.5vw;
  }
  50% {
    top: 15vh;
    left: 30vw;
  }
  to {
    top: 15vh;
    left: 30vw;
  }
}
#hello-octopus #wrapp_popup img {
  width: 40vw;
  position: absolute;
  border-radius: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.05);
  animation-name: hi;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}
@keyframes hi {
  from {
    width: 35vw;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.05);
    opacity: 0.7;
  }
  50% {
    width: 40vw;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.05);
    opacity: 1;
  }
  to {
    width: 40vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.05);
    opacity: 1;
  }
}

#resetStorage {
  width: fit-content;
  height: auto;
  padding: 10px 21px;
  background-color: rgba(0, 0, 0, 0.15);
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: ease-in-out 0.2s;
  color: rgb(46, 41, 54);
}
#resetStorage:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#resetStorage:active {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgb(46, 41, 54);
}

.warring-pict {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(../assets/pict/warning_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
  background-size: contain;
}

.info-pict {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  background: url(../assets/pict/help_FILL0_wght500_GRAD200_opsz48.svg) no-repeat top left;
  background-size: contain;
}

#logo-Octopus {
  height: 36px;
}

.btn-nav-hw {
  height: revert;
  display: flex;
  flex-wrap: nowrap;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}
.btn-nav-hw label {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 15px;
}
.btn-nav-hw input {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 50px;
}
.btn-nav-hw:hover {
  display: flex;
  background: rgba(255, 255, 255, 0.15);
}
.btn-nav-hw [type=text] {
  background: none;
  border: none;
  counter-reset: none;
}
.btn-nav-hw [type=text]:focus {
  border: none;
  border-width: 0;
  box-shadow: none;
  outline: none;
}