//Color
$background: rgb(253, 252, 252);
$akcent:rgb(69, 18, 235);
$font-color: rgb(46, 41, 54);
$gray-color: rgb(118, 114, 125);
$gray-light-color: rgb(171, 168, 178);

$gray-05: rgba(0, 0, 0, 0.05);
$gray-15: rgba(0, 0, 0, 0.15);

$white-14: rgba(255, 255, 255, 0.15);

//Formt
$nav-height: 64px;
$margin-vertical: 21px;
$span: 14px;
$border-mark: 2px;
$border-mark-hover: 4px;

$app-font: 'IBM Plex Sans', sans-serif;

// Thin     100
// Light    300
// Regular  400
// Medium   500
// SemiBold 600
// Bold     700

@mixin _headline_1 {
    font-family: $app-font;
    font-weight: 700;
    font-size: 24px;
}
@mixin _headline_2 {
    font-family: $app-font;
    font-weight: 400;
    font-size: 18px;
}
@mixin _span {
    font-family: $app-font;
    font-weight: 500;
    font-size: 18px;
}
@mixin _span-small {
    font-family: $app-font;
    font-weight: 500;
    font-size: 14px;
}
@mixin _paragraph {
    font-family: $app-font;
    font-weight: 400;
    font-size: 18px;
}

h1{
    @include _headline_1;
}
h2{
    @include _headline_2;
}

// p{
//     @include _paragraph;
// }

//
// Button
//
@mixin closeBtn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    counter-reset: none;
    transition: ease-in-out .15s;
}