@import 'settings';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $background;
    display: flex;
    flex-direction: column;
}

nav {
    height: $nav-height;
    padding: 0 $margin-vertical;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05);

    ul {
        display: flex;
        gap: 10px;
        flex: content;

        li {
            cursor: pointer;
            height: fit-content;
            // padding: 10px 15px;
            background-color: $akcent;
            color: $font-color;
            background: $gray-05;
            border: 1px solid $gray-05;
            border-radius: 12px;
            transition: ease-in-out .1s;
            font-variant-ligatures: no-common-ligatures;

            #btn-nav {
                display: flex;
                height: auto;

                span {
                    @include _span;
                    padding: 10px 15px;
                }

                input {
                    display: none;
                }

                label {
                    @include _span;
                    padding: 10px 15px;
                }

                [type=file] {
                    position: relative;
                    left: 0px;
                    top: 0px;
                    opacity: 1;
                }
            }

            &:hover {
                display: block;
                background: $white-14;
            }
        }
    }
}

#main-content {
    width: calc(100vw - (20px*2));
    height: 100vh;
    padding: 20px $margin-vertical;
    overflow: hidden;
    display: grid;
    row-gap: 10px;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));

    #row-top {
        grid-auto-flow: column;
    }

    #row-bot {
        grid-auto-flow: column;
    }

    .wrapper {
        display: grid;
        column-gap: 10px;
        grid-column: 1;

        .col {
            display: grid;
            overflow: hidden;
            grid-template-rows: 36px 1fr;

            .col-property-content {
                grid-row: 1;

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    overflow-x: scroll;
                    background-color: $background;

                    li {
                        min-width: fit-content;
                        background-color: $gray-05;
                        border: 1px solid $gray-15;
                        font-family: $app-font;
                        font-weight: 400;
                        font-size: 14px;
                        overflow: hidden;
                        border-radius: 18px;
                        padding: 5px 15px;
                        transition-duration: .2s;
                        transition-timing-function: ease-in-out;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.0);
                        }

                        input {
                            width: 40px;
                            font-feature-settings: "tnum";
                        }

                        [type=text] {
                            background: none;
                            border: none;
                            counter-reset: none;

                            &:focus {
                                border: none;
                                border-width: 0;
                                box-shadow: none;
                                outline: none;
                            }
                        }
                    }
                }
            }

            .col-scrl-1,
            .col-scrl-2,
            .col-scrl-3,
            .col-scrl-4,
            .col-scrl-5,
            .col-scrl-6 {
                overflow: scroll;
            }

            .col-p-wrapp {
                grid-column: 1;

                p {
                    grid-column: .8;
                    word-break: break-all;
                    padding: 0 .2em;
                    padding-top: .2em;
                    color: $font-color;
                }

                [contenteditable] {
                    outline: 0px solid transparent;
                }
            }
        }
    }
}

//
// SETTINGS WINDOW
//

#features-settings {
    // position: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    #close-space {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: $gray-15;
        z-index: 100;
    }

    #features-settings-content {
        display: block;
        width: fit-content;
        height: fit-content;
        background-color: $background;
        z-index: 900;
        padding: 20px;
        border-radius: 24px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05);

        .popup {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            grid-auto-columns: 100px;

            #waring-info-content {
                grid-column: 1 / -1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                #warring-wrapp-el {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    p {
                        @include _span-small;
                        font-weight: 400;
                        color: $gray-color;
                        grid-column: 2;
                    }
                }

                #resetStorage {
                    display: block;
                    grid-column: 3;
                    margin-bottom: unset;
                }
            }

            @mixin grid-col-prop {
                border-radius: 12px;
                padding: 10px;
            }

            @mixin btn-close {
                background-size: 24px;
                padding: 20px;
                background-position: center;
            }

            @mixin btn-close-hover {
                background-size: 24px;
                padding: 20px;
                background-position: center;
                opacity: .5;
                cursor: pointer;
            }

            .grid-col-prop {
                border: 1px solid $gray-light-color;
                @include grid-col-prop;

                .grid-col-prop-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn-close {
                        @include closeBtn;
                        background: url(../assets/pict/visibility_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
                        @include btn-close;

                        &:hover {
                            background: url(../assets/pict/visibility_off_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
                            @include btn-close-hover;
                        }
                    }

                    .inp-font-hidden {
                        display: none;
                    }
                    .custom-input-font {
                        display: inline-block;
                        @include _span-small;
                        padding: 8px 12px;
                        background-color: $background;
                        color: $font-color;
                        border: 1px solid $gray-15;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                    .custom-input-font:hover {
                        background-color: $background;
                    }
                    .custom-input-font:active {
                        background-color: $gray-15;
                    }

                }

                ul {
                    width: auto;
                    height: auto;

                    li {
                        display: grid;
                        grid-template-columns: 1fr 100px;
                        column-gap: 10px;
                        padding: 4px 0px;

                        label{
                            @include _span-small;
                            padding: 4px 0px 4px 10px;
                        }
                        input{
                            @include _span-small;
                            color: $gray-color;
                            text-decoration: none;
                            background: none;
                            counter-reset: none;
                            padding: 0px 12px;
                            
                            &::placeholder{
                                color: $gray-color;
                            }
                        }
                        [type=text] {
                            background: none;
                            border: 1px solid $gray-15;
                            border-radius: 6px;
                            counter-reset: none;

                            &:focus {
                                border: 1px solid $background;
                                border-width: none;
                                box-shadow: none;
                                outline: none;
                                background-color: $gray-05;
                            }
                        }
                        
                    }

                    .OT-features {
                        width: auto;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto;
                        input{
                            padding: 10px 12px;
                        }
                    }
                }
            }

            .grid-col-prop-off {
                border: 1px dashed $gray-15;
                @include grid-col-prop;

                .grid-col-prop-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn-close {
                        @include closeBtn;
                        background: url(../assets/pict/visibility_off_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
                        @include btn-close;

                        &:hover {
                            background: url(../assets/pict/visibility_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
                            @include btn-close-hover;
                        }
                    }

                    .inp-font-hidden {
                        display: none;
                    }
                    .custom-input-font {
                        display: inline-block;
                        @include _span-small;
                        padding: 8px 12px;

                        pointer-events: none;
                        user-select: none;
                        
                        color: $gray-color;
                        border: 1px dashed $gray-15;
                        border-radius: 12px;
                    }
                }

                ul {
                    pointer-events: none;
                    user-select: none;
                    opacity: .5;

                    li {
                        display: grid;
                        grid-template-columns: 1fr 100px;
                        column-gap: 10px;
                        padding: 4px 0px 4px 10px;

                        label{
                            @include _span-small;
                            
                            padding: 4px 0px;
                        }
                        input{
                            @include _span-small;
                            color: $gray-color;
                            text-decoration: none;
                            background: none;
                            counter-reset: none;
                            padding: 0px;
                            
                            &::placeholder{
                                color: $gray-color;
                            }
                        }
                        [type=text] {
                            background: none;
                            border: 1px solid $background;
                            border-radius: 6px;
                            counter-reset: none;

                            &:focus {
                                border: 1px solid $background;
                                border-width: none;
                                box-shadow: none;
                                outline: none;
                            }
                        }
                    }

                    .OT-features {
                        width: auto;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto;
                        input{
                            padding: 10px 2px;
                        }
                    }

                }
            }

        }
    }
}

//
// POPUP HELLO
//
#hello-octopus {
    width: 100vw;
    height: 100vh;
    position: fixed;

    animation-name: bg;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
    background-color: rgba(253, 252, 252, 0.6);

    @keyframes bg {
        from {
            background-color: rgba(253, 252, 252, 1);
        }

        50% {
            background-color: rgba(253, 252, 252, 1);
        }

        to {
            background-color: rgba(253, 252, 252, 0.6);
        }
    }

    #wrapp_popup {

        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 15vh;
        left: 30vw;

        animation-name: pos;
        animation-duration: 2s;
        transition-timing-function: ease-out;

        @keyframes pos {
            from {
                top: 17.5vh;
                left: 32.5vw;
            }

            50% {
                top: 15vh;
                left: 30vw;
            }

            to {
                top: 15vh;
                left: 30vw;
            }
        }

        img {
            width: 40vw;
            position: absolute;
            border-radius: 21px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.05);

            animation-name: hi;
            animation-duration: 2s;
            transition-timing-function: ease-out;

            @keyframes hi {
                from {

                    width: 35vw;
                    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.05);
                    opacity: .7;
                }

                50% {
                    width: 40vw;
                    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.05);
                    opacity: 1;

                }

                to {
                    width: 40vw;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.05);
                    opacity: 1;
                }
            }
        }
    }
}

// RESET BUTTON
#resetStorage {
    width: fit-content;
    height: auto;
    padding: 10px 21px;
    background-color: $gray-15;
    background: none;
    border: 1px solid $gray-15;
    border-radius: 18px;
    
    @include _span-small;
    transition: ease-in-out .2s;
    color: $font-color;

    &:hover {
        background-color: $gray-05;
    }

    &:active {
        background-color: $gray-15;
        color: $font-color;
    }
}

// BTN's
.warring-pict {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url(../assets/pict/warning_FILL0_wght400_GRAD0_opsz48.svg) no-repeat top left;
    background-size: contain;
}
.info-pict{
    width: 14px;
    height: 14px;
    display:inline-block;
    position: relative;
    top:2px;
    background: url(../assets/pict/help_FILL0_wght500_GRAD200_opsz48.svg) no-repeat top left;
    background-size: contain;
}

#logo-Octopus{
    height: 36px;
}
.btn-nav-hw{
    height: revert;
    display: flex;
    flex-wrap: nowrap;
    /* align-content: center; */
    align-items: center;
    justify-content: center;

    label {
        @include _span;
        padding: 10px 15px;
    }
    input{
        @include _span;
        width: 50px;
    }
    &:hover {
        display: flex;
        background: $white-14;
    }
    [type=text] {
        background: none;
        border: none;
        counter-reset: none;

        &:focus {
            border: none;
            border-width: 0;
            box-shadow: none;
            outline: none;
        }
    }
}