h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fdfcfc;
  display: flex;
  flex-direction: column;
}

nav {
  height: 64px;
  padding: 0 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05);
}

nav ul {
  display: flex;
  gap: 10px;
  flex: content;
}

nav ul li {
  cursor: pointer;
  height: fit-content;
  padding: 10px 15px;
  background-color: #4512eb;
  color: #2d2835;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: ease-in-out .1s;
  font-variant-ligatures: no-common-ligatures;
}

nav ul li #btn-nav {
  display: flex;
  height: auto;
}

nav ul li #btn-nav span {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

nav ul li #btn-nav label {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-right: 10px;
}

nav ul li #btn-nav input {
  width: auto;
}

nav ul li #btn-nav [type=file] {
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 1;
}

nav ul li:hover {
  display: block;
  background: rgba(255, 255, 255, 0.14);
}

#main-content {
  width: calc(100vw -(20px*2));
  height: 100vh;
  padding: 20px 21px;
  overflow: hidden;
  display: grid;
  row-gap: 10px;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
}

#main-content #row-top {
  grid-auto-flow: column;
}

#main-content #row-bot {
  grid-auto-flow: column;
}

#main-content .wrapper {
  display: grid;
  column-gap: 10px;
  grid-column: 1;
}

#main-content .wrapper .col {
  display: grid;
  overflow: hidden;
  grid-template-rows: 36px 1fr;
}

#main-content .wrapper .col .col-property-content {
  grid-row: 1;
}

#main-content .wrapper .col .col-property-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  background-color: #fdfcfc;
}

#main-content .wrapper .col .col-property-content ul li {
  min-width: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  border-radius: 18px;
  padding: 5px 15px;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

#main-content .wrapper .col .col-property-content ul li:hover {
  background-color: rgba(0, 0, 0, 0);
}

#main-content .wrapper .col .col-property-content ul li input {
  width: 30px;
  font-feature-settings: "tnum";
}

#main-content .wrapper .col .col-property-content ul li [type=text] {
  background: none;
  border: none;
  counter-reset: none;
}

#main-content .wrapper .col .col-property-content ul li [type=text]:focus {
  border: none;
  border-width: 0;
  box-shadow: none;
  outline: none;
}

#main-content .wrapper .col .col-scrl-1,
#main-content .wrapper .col .col-scrl-2,
#main-content .wrapper .col .col-scrl-3,
#main-content .wrapper .col .col-scrl-4,
#main-content .wrapper .col .col-scrl-5,
#main-content .wrapper .col .col-scrl-6 {
  overflow: scroll;
}

#main-content .wrapper .col .col-p-wrapp {
  grid-column: 1;
}

#main-content .wrapper .col .col-p-wrapp p {
  grid-column: .8;
  word-break: break-all;
  padding: 0 .2em;
  padding-top: .2em;
  color: #2d2835;
}

#main-content .wrapper .col .col-p-wrapp [contenteditable] {
  outline: 0px solid transparent;
}

#features-settings #close-space {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

#features-settings .popup {
  position: absolute;
  width: 50vw;
  height: auto;
  border-radius: 12px;
  top: 20vh;
  left: 25vw;
  background-color: #fdfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.05);
  font-family: "IBM Plex Sans", sans-serif;
  overflow: scroll;
  z-index: 99999;
}

#features-settings .popup .popup-wrapp {
  height: 100%;
  padding: 0 21px;
  position: relative;
  top: 21px;
}

#features-settings .popup .popup-wrapp .grid-col {
  height: auto;
  display: flex;
  gap: 10px;
}

#features-settings .popup .popup-wrapp .grid-col .grid-col-prop {
  width: 200px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 10px;
  border: rgba(0, 0, 0, 0.15) solid 1px;
  padding: 0 21px;
}

#features-settings .popup .popup-wrapp .grid-col .grid-col-prop .grid-inp-col-f-import {
  max-width: 50px;
  background: none;
  margin-bottom: none;
}

#features-settings .popup .popup-wrapp .grid-col .grid-col-prop .btn-close {
  margin: 10px 0;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-family: "IBM Plex Sans", sans-serif;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}

#features-settings .popup .popup-wrapp .grid-col .grid-col-prop .btn-close:hover {
  background-color: #fdfcfc;
}

#features-settings .popup .popup-wrapp .grid-col .grid-col-prop .grid-inp-col-f-settings {
  max-width: 50px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  padding: 4px 10px;
  border-radius: 4px;
}

#features-settings .popup .popup-wrapp .grid-col .grid-col-prop .grid-inp-col-f-features {
  width: 90%;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  padding: 4px 10px;
  border-radius: 4px;
}

#features-settings .popup .popup-wrapp .grid-col ul li {
  margin-bottom: 10px;
}

.gcp-top,
.gcp-bot {
  width: auto;
  height: 100%;
  padding: 5px;
  color: #2d2835;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.border-bottom-span {
  margin-bottom: none;
}

.f-imp-define {
  font-size: 12px;
  font-family: "IBM Plex Sans", sans-serif;
}

.close-grid-col-prop {
  width: 28px;
  height: 28px;
  padding-top: 5px;
  color: #2d2835;
  position: relative;
  left: -21px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

#hello-octopus {
  width: 100vw;
  height: 100vh;
  position: fixed;
  animation-name: bg;
  animation-duration: 3s;
  transition-timing-function: ease-in-out;
  background-color: rgba(253, 252, 252, 0.6);
}

@keyframes bg {
  from {
    background-color: #fdfcfc;
  }
  50% {
    background-color: #fdfcfc;
  }
  to {
    background-color: rgba(253, 252, 252, 0.6);
  }
}

#hello-octopus #wrapp_popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 15vh;
  left: 30vw;
  animation-name: pos;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}

@keyframes pos {
  from {
    top: 17.5vh;
    left: 32.5vw;
  }
  50% {
    top: 15vh;
    left: 30vw;
  }
  to {
    top: 15vh;
    left: 30vw;
  }
}

#hello-octopus #wrapp_popup img {
  width: 40vw;
  position: absolute;
  border-radius: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.05);
  animation-name: hi;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}

@keyframes hi {
  from {
    width: 35vw;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.05);
    opacity: .7;
  }
  50% {
    width: 40vw;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.05);
    opacity: 1;
  }
  to {
    width: 40vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.05);
    opacity: 1;
  }
}

#resetStorage {
  width: 100px;
  height: auto;
  padding: 10px 21px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 18px;
}

#resetStorage:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#resetStorage:active {
  background-color: #2d2835;
  color: #fdfcfc;
}

.toggle-bottom::after,
.toggle-top::after {
  content: "close";
}
